html,
body {
  height: 100%;
}

.container {
  max-width: 100% !important;
  padding-left: 0px !important;
}

#message {
  width: 100%;
}

#menu-area {
  display: block ruby;
  width: 80%;
  color: #fff;
  height: 100%;
}

#statistic h1,
#statistic h2,
#statistic h3,
#statistic h4,
#statistic h5 {
  font-family: "Arsenal", sans-serif !important;
}

#analist-header {
  width: 80%;
  padding-left: 5px;
  display: block ruby;
  position: relative;
  height: 100%;
}

.fa-coins {
  color: #f0b05e;
}

#btnStopPrivateSession {
  display: none;
}

#private-session-message {
  display: none;
}

#analistGainsInfo {
  float: right;
}

.workspace {
  height: 100%;
  width: 80%;
  display: inline-flex;
  background: #eaeaea;
}

#menu-area .btn {
  margin-right: 1px;
}

.btn {
  font-size: small !important;
  border-radius: 0px !important;
}

#statistic {
  width: 80%;
  border: 1px solid #e8e8e8;
  padding: 11px;
  background: #fff;
}

.percent80 {
  width: 80%;
}

#logo-live {
  height: 100%;
  display: initial;
  align-items: center;
  padding-left: 5px;
  font-size: small;
}

#menu-area button {
  float: right !important;
  margin-right: 1px;
}

#full-menu {
  background: #333;
}

#live-info {
  bottom: -14px;
  right: 0px;
  position: absolute;
}

button {
  border-radius: 0px !important;
  font-size: 15px !important;
}

p {
  margin-bottom: 0px;
}

#analistVideo {
  margin: 0px auto;
}

video {
  width: 52%;
  background: #000;
}

.chat {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 17%;
  padding-right: 5px;
}

.history {
  overflow: scroll;
  position: relative;
  height: 75vh;
  background: #fff;
  border-left: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  padding: 0px;
  overflow: scroll;
  overflow-x: hidden;
  word-break: break-all;
  font-size: small;
  padding-left: 5px;
}

.message {
  position: relative;
  height: 25vh;
  bottom: 0px;
  right: 0px;
  padding-right: 1px;
}

.message textarea {
  width: 100%;
  resize: none;
  font-size: small;
  padding: 5px;
  border: 1px solid #e8e8e8;
}

#btnSend {
  width: 100%;
}

.analistHistory {
  color: blue;
}

input {
  border: thin solid #dc3545;
  padding: 2px;
  font-size: small;
}

.image-in-gallery {
  width: 50px;
  height: 50px;
  margin-bottom: 3px;
  margin-right: 3px;
}

.logo {
  line-height: 1;
  margin-bottom: 0;
}

.logo a {
  font-size: 69px;
  font-family: "Baloo", cursive;
  color: #dc3545;
}

.logo-description {
  font-weight: bold;
  color: #333;
}

figure {
  margin: 0px !important;
}

.tranny-cover-thumb {
  max-height: 110px;
  margin-right: 20px;
}

.traveti-title {
  background: #333;
  padding-top: 30px;
  padding-bottom: 0px;
  margin-bottom: 30px;
}

.traveti-title h1 {
  color: #fff;
}

.traveti-title p {
  color: #fff;
}

footer {
  background: #000;
  padding-top: 3rem;
  padding-bottom: 4rem;
  margin-top: 100px;
  margin-bottom: 0px;
  color: #fff;
}

footer p {
  margin-bottom: 0.25rem;
}

#top-menu {
  /* background: #fff;
  padding:10px;
  border: 1px solid rgb(227, 43, 43); */
}

body {
  background: #f2f2f2;
  font-family: "Arsenal", sans-serif;
  margin-left: 5px;
}

a {
  color: #333;
  /* padding-right:5px;
  padding-left:5px; */
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #dc3545;
}

a:hover {
  color: red;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Great Vibes", cursive;
  margin-bottom: 0px !important;
}

.card {
  border: 1px solid #e32b2b;
  border-radius: 0px;
}

.card-header:first-child {
  border-radius: 0px;
}

.card-header {
  border-bottom: 1px solid #e32b2b;
  background-color: #dc3545;
  color: #fff;
}

#user-info {
  position: fixed;
  background: #000;
  bottom: 0px;
  color: #fff;
  z-index: 999;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  text-align: right;
}

#top-info {
  position: fixed;
  background: #000;
  top: 0px;
  color: #fff;
  z-index: 999;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}

#travesti-dancando {
  position: fixed;
  bottom: 20px;
  right: 0px;
}

#travesti-loira-dancando {
  position: fixed;
  bottom: 20px;
  left: 0px;
}

.card {
  /* -webkit-box-shadow: 8px 8px 8px -6px rgba(171,171,171,1);
  -moz-box-shadow: 8px 8px 8px -6px rgba(171,171,171,1);
  box-shadow: 8px 8px 8px -6px rgba(171,171,171,1); */
}

#menu ul {
  list-style: none;
  padding: 0px;
}

#menu ul li {
  display: inline;
  margin-right: 5px;
}

.reply-style {
  background: #f4f4f4;
  border-radius: 4px;
}

.modal-body {
  padding: 1.8rem;
}

