html,
body {
    height: 100%;
}

#message-default-client {
    display: none;
}

#btnStopPrivateSession {
    display: none;

    background: linear-gradient(180deg,
            rgba(208, 208, 208, 1) 0%,
            rgba(226, 225, 225, 1) 51%,
            rgba(208, 208, 208, 1) 100%);
    color: #868686;
    border: 6px solid #d0d0d0;
    padding: 3px 26px;
    border-radius: 21px !important;
}

.container {
    max-width: 100% !important;
    padding-left: 0px !important;
}

#message {
    width: 100%;
}

#live-circle {
    color: #7bc48d;
}

#client-info-panel i {
    color: #bdbdbd !important;
}

#menu-area {
    display: block ruby;
    width: 80%;
    color: #fff;
    height: 100%;
}

#statistic h1,
#statistic h2,
#statistic h3,
#statistic h4,
#statistic h5 {
    font-family: "Arsenal", sans-serif !important;
}

.creditsvaluesbox {
    width: 100%;
    margin-bottom: 30px;
    // border: 1px solid #333;
}

.creditvalue {
    font-size: 27px;
    font-weight: bold;
    color: #fff;
}

.creditsvaluesbox .fa-coins {
    color: #ecdd67 !important;
}

#modalAddCredits .modal-body {
    background-color: #202020;
}

#modalAddCredits h3 {
    color: #fff !important;
}

#final-value {
    font-size: 35px;
}

#modalAddCredits button {
    border-radius: 5px !important;
}

.btn-link.focus,
.btn-link:focus,
.btn-link:hover {
    text-decoration: none !important;
}

.alert {
    border-radius: 0px !important;
    font-size: small !important;
    padding: 1px 7px !important;
}

#menu-area>.btn-link {
    color: #fff !important;
}

#analist-header {
    width: 80%;
    padding-left: 5px;
    display: block ruby;
    position: relative;
    height: 100%;
}

.column80 {
    width: 80%;
}

.workspace {
    height: 100%;
    width: 80%;
    display: inline-flex;
    background: #333;
    //border: 1px solid #e860ad;
}

#statistic {
    width: 80%;
    border: thin solid #bd2130;
    padding: 5px;
    padding-left: 20px;
    background: #fff;
}

#logo-live {
    height: 100%;
    display: initial;
    align-items: center;
    padding-left: 5px;
    font-size: 18px;
}

#menu-area button {
    float: right !important;
    margin-right: 1px;
}

#full-menu {
    background: #333;
}

#live-info {
    bottom: 0px;
    right: 0px;
    position: absolute;
}

.modal {
    color: #000;
}

.modal-content {
    border-radius: 0px !important;
}

#header-camstream {
    background: linear-gradient(276deg, rgba(50, 3, 42, 1) 0%, rgba(140, 28, 123, 1) 50%, rgba(140, 28, 123, 1) 56%, rgba(50, 3, 42, 1) 100%);
    width: 100%;
    padding: 50px 30px;
    margin-bottom: 30px;
}

.form-control {
    border-radius: 0px !important;
    padding: 5px !important;
    font-size: small;
    height: calc(1.5em + 0.75rem + -1px) !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;
    border-color: #bd2130 !important;
}

.alert-danger {
    border: 5px solid #fbc9d9 !important;
}

#linkForgotPasswordBack {
    cursor: pointer;
}

#div-message-register-new-client {
    font-size: small;
    color: red;
}

#btnPrivateSession {
    background: linear-gradient(180deg,
            rgb(91, 197, 238) 0%,
            rgb(150, 216, 242) 51%,
            rgb(91, 197, 238) 100%);
    color: #fff;
    border: 6px solid #91d3f2;
    padding: 3px 26px;
    border-radius: 21px !important;
}

.alert-success {
    color: #43842c;
    border: 5px solid #a1e1b0;
    font-weight: bold;
    background: linear-gradient(180deg,
            rgb(180, 234, 193) 0%,
            rgb(211, 246, 220) 51%,
            rgb(180, 234, 193) 100%);
    border-radius: 0px !important;
    padding: 1px 7px;
}

#message-default-client {
    color: #464646;
    border: 3px solid #ccc;
    font-weight: bold;
    background: linear-gradient(180deg,
            rgba(212, 212, 212, 1) 0%,
            rgba(230, 230, 230, 1) 51%,
            rgba(212, 212, 212, 1) 100%);
    border-radius: 27px !important;
    padding: 4px 20px;
}

label {
    margin-bottom: 0px !important;
}

button {
    border-radius: 0px !important;
    font-size: 15px !important;
}

p {
    margin-bottom: 0px;
}

#friendsVideo {
    margin: 0px auto;
}

#history-messages {
    // position: absolute;

    // border: 1px solid #333;

    // bottom: 0px;
    // width: 100%;
    // height: auto;
}

.analistHistory {
    color: blue;
}

.history {
    overflow: scroll;
    position: relative;
    height: 75vh;
    background: #fff;
    border-left: 1px solid #e860ad;
    border-bottom: 1px solid #e860ad;
    border-right: 1px solid #e860ad;
    padding: 0px;
    overflow: scroll;
    overflow-x: hidden;
    word-break: break-all;
    font-size: small;
    padding-left: 5px;
    color: #000;
}

video {
    width: 52%;
    background: #000;
}

.chat {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 17%;
    padding-right: 5px;
}

.message {
    position: relative;
    height: 25vh;
    bottom: 0px;
    right: 0px;
}

.message textarea {
    width: 100%;
    resize: none;
    font-size: small;
    padding: 5px;
    border: 1px solid #e860ad;
    background: #fff;
}

#btnSend {
    width: 100%;
    background: #641d55;
    border: 0px;
}

#btnCredits {
    background: #737272;
    border: 1px solid #737272;
    color: #f7cc4c;
    font-weight: bold !important;
}

.btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0) !important;
}

.btn {
    font-size: small !important;
}

.space-area {
    padding: 10px;
    margin-top: 10px;
}

.figure {
    border: 1px solid #2b2b2b;
    padding: 10px;
    background: #1e1e1e;
}

.figure-caption {
    color: #fff;
    background: #2f2f2f;
    padding: 2px;
}

.figure:hover {
    opacity: 0.5;
    cursor: pointer;
}

.modal-dialog {
    max-width: 744px;
}

.image-in-gallery {
    width: 50px;
    height: 50px;
    margin-bottom: 3px;
    margin-right: 3px;
}

.logo {
    line-height: 1;
    margin-bottom: 0;
}

.logo a {
    font-size: 69px;
    font-family: "Baloo", cursive;
    color: #dc3545;
}

.logo-description {
    font-weight: bold;
    color: #333;
}

figure {
    margin: 0px !important;
}

.tranny-cover-thumb {
    max-height: 110px;
    margin-right: 20px;
}

.traveti-title {
    background: #333;
    padding-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 30px;
}

.traveti-title h1 {
    color: #fff;
}

.traveti-title p {
    color: #fff;
}

footer {
    background: #000;
    padding-top: 3rem;
    padding-bottom: 4rem;
    margin-top: 100px;
    margin-bottom: 0px;
    color: #fff;
}

footer p {
    margin-bottom: 0.25rem;
}

#top-menu {
    /* background: #fff;
    padding:10px;
    border: 1px solid rgb(227, 43, 43); */
}

body {
    background: #131313;
    font-family: "Arsenal", sans-serif;
    margin-left: 5px;
    font-size: small;
    color: #fff;
}

a {
    color: #333;
    // background: #f2f2f2;
    /* padding-right:5px;
    padding-left:5px; */
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #dc3545;
}

a:hover {
    color: red;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Great Vibes", cursive;
    margin-bottom: 0px !important;
}

.card {
    border: 1px solid rgb(227, 43, 43);
    border-radius: 0px;
}

.card-header:first-child {
    border-radius: 0px;
}

.card-header {
    border-bottom: 1px solid rgb(227, 43, 43);
    background-color: #dc3545;
    color: #fff;
}

#user-info {
    position: fixed;
    background: #000;
    bottom: 0px;
    color: #fff;
    z-index: 999;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    text-align: right;
}

#top-info {
    position: fixed;
    background: #000;
    top: 0px;
    color: #fff;
    z-index: 999;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
}

#travesti-dancando {
    position: fixed;
    bottom: 20px;
    right: 0px;
}

#travesti-loira-dancando {
    position: fixed;
    bottom: 20px;
    left: 0px;
}

.card {
    /* -webkit-box-shadow: 8px 8px 8px -6px rgba(171,171,171,1);
    -moz-box-shadow: 8px 8px 8px -6px rgba(171,171,171,1);
    box-shadow: 8px 8px 8px -6px rgba(171,171,171,1); */
}

#menu ul {
    list-style: none;
    padding: 0px;
}

#menu ul li {
    display: inline;
    margin-right: 5px;
}

.reply-style {
    background: #f4f4f4;
    border-radius: 4px;
}
